
body{
    background-color: black;
    
}
.grid-container{
    display : grid;
    grid-template-columns: auto 905px auto;
    column-gap: 10px;
    grid-template-rows: 565px 198px;
    row-gap: 10px;
    
    
}

.leftSide{
    grid-column-start: 1;
    grid-row-start: 2 span;
    grid-row-end: 3;
    
}
#hand{
    position: absolute;
    margin-top: 93px;
    margin-left: 220px;
    z-index: 1;
    visibility: hidden;
}
#skulls{
    
    margin-top: 225px;
    margin-left: 86px;
    visibility: visible;
}
#anchor{
    margin-left: 117px;
    margin-top: -45px;
    visibility: visible;
}
#bones{
    margin-left: 159px;
    margin-top: -35px;
    visibility: visible;
}

.logo{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 2;
   
    background-image: url(PNG/Beatmaker\ fond\ +\ typo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;  
}
.keybord{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    
}
.flex-container{
    display :inline-flex;
    
}
.colFlex{
    width: 77px;
    margin-right: 35px;
    
    
}
.key{
    border-radius: 50%;
    border: 1px solid white;
    box-sizing: border-box;
    width: 77px;
    height: 77px;
    padding: 5px;
    transition: all .07s;
}

kbd {
    display:block;
    color: white;
    font-size: 50px;
    margin-left: 17px;
    margin-top: -5px;
}
span{
    display: block;
    color: white;
    font-size: 15px;
   margin-left: 20px;
   margin-top: -25px;
    
}
#S, #L{
    margin-top: 38px;
    
}
#D, #K{
    margin-top: 76px;
}
#F, #J{
    margin-top: 114px;
}


.rightSide{
    grid-column-start: 3;
    grid-row-start: 2 span;
    grid-row-end: 3;
    
}
#star{
    position: absolute;
    z-index: 1;
    margin-right: 162px;
    margin-top: 39px;
    visibility: visible;
    
}
#mermaid{
    margin-top: 173px;
    margin-left: 135px;
    visibility: visible;
}
#knife{
    margin-left: -15px;
    margin-top: -100px;
    visibility: visible;
}
#bird{
    margin-left: 45px;
    margin-top: -65px;
    visibility: visible;
    
}
/*HOOVER SOURIS*/
#Q:hover,#M:hover{
    box-shadow:  0px 0px 12px  white;
    transform :scale(1.1);
}
#S:hover, #L:hover{
    box-shadow:  0px 0px 12px  white;
    transform :scale(1.1);
}
#D:hover, #K:hover{
    box-shadow:  0px 0px 12px  white;
    transform :scale(1.1);
}
#F:hover, #J:hover{
    box-shadow:  0px 0px 12px  white;
    transform :scale(1.1);
}
.key:hover{
    border: none;
}

/*  AJOUT STYLE VIA JS*/
.playing{
    transform :scale(1.1);
    box-shadow:  0px 0px 12px  white;
}